.storyTable {
    @apply grid space-x-0.5 gap-5;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    // .oneLevelShadow {
    //     box-shadow:
    //     0 1px 1px rgba(0, 0, 0, 0.15),
    //     5px 5px 0 -1px #eee,
    //     6px 6px 1px -1px rgba(0, 0, 0, 0.15),
    // } 
    // .twoLevelShadow {
    //     box-shadow:
    //     0 1px 1px rgba(0, 0, 0, 0.15),
    //     5px 5px 0 -1px #eee,
    //     6px 6px 1px -1px rgba(0, 0, 0, 0.15),
    //     10px 10px 0 -1px #eee,
    //     11px 11px 1px -1px rgba(0, 0, 0, 0.15);
    // } 
    // .treeLevelShadow {
    //     box-shadow:
    //     0 1px 1px rgba(0, 0, 0, 0.15),
    //     5px 5px 0 -1px #eee,
    //     6px 6px 1px -1px rgba(0, 0, 0, 0.15),
    //     10px 10px 0 -1px #eee,
    //     11px 11px 1px -1px rgba(0, 0, 0, 0.15),
    //     15px 15px 0 -1px #eee,
    //     16px 16px 1px -1px rgba(0, 0, 0, 0.15);
    // } 
    .translateCard {
        @apply p-5 border-solid border border-gray-200 rounded-md grid gap-1;

        >:nth-child(3) {
            @apply text-end;
        }

        .name {
            @apply text-lg font-semibold;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .datesOrder {
            @apply text-sm text-gray-400;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .state {
            @apply h-max;

            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;

            span {
                @apply relative justify-center items-center w-max px-2 py-1 text-end;
            }


        }

        .link {
            @apply text-center border border-solid border-gray-400 rounded-md p-1 mt-2;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 4;
        }

        svg {
            @apply text-xl ml-1;

        }


        .tooltip {
            @apply absolute z-50 whitespace-normal bottom-8 max-w-[320px] w-max break-words rounded-lg bg-white py-1.5 px-3 font-sans text-sm font-normal shadow-itemsShadow focus:outline-none
        }

        .hiddens {
            @apply hidden;
        }


    }
    
    .success {
        @apply bg-green-100;
        svg {
            @apply text-green-700 hover:text-green-700

        }
        
    }

    .inProgress {
        @apply bg-blue-100;
        svg {
            @apply text-blue-700 hover:text-blue-700

        }
        
    }

    .catch {
        @apply bg-red-100;
        svg {
            @apply text-red-700 hover:text-red-700;

        }
        
    }
}